.timer-container {
    text-align: center;
    margin: 20px;
}

.timer-controls {
    text-align: center;
    margin: 20px;
    padding-top: 1em;
}

#timer {
    font-size: 7em;
    margin-top: 20px;
}

.red {
    color: rgb(200, 2, 61);
}

.saved-times ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    background: #ffffff;
}

.sound-selector {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    font-size: 1.2em;
}

.customization-controls {
    background-color: #e4e4e4; /* Fondo distinto */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.customization-controls input[type="text"],
.customization-controls input[type="file"] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

.customization-controls input[type="text"]:hover,
.customization-controls input[type="file"]:hover {
    background-color: #bbb;
}

