.timer-container {
    text-align: center;
    margin: 20px;
}

.timer-controls {
    text-align: center;
    margin: 20px;
}

#timer {
    font-size: 7em;
    margin-top: 20px;
}

.red {
    color: rgb(200, 2, 61);
}

.sound-selector {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    font-size: 1.2em;
  }