.footer {
  background-color: #e4e4e4;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #333;
}

@media (min-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}