@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px; /* Añade espacio para el footer */
}

h1 {
  font-family: "Bruno Ace SC", serif;
  font-optical-sizing: auto;
  font-size: 3em;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
}

button.primary-button  {
  border: #02b686 1px solid;
  background-color: #02b686;
  color: white;
}

button:hover.primary-button  {
  border: #057557 1px solid;
  background-color: #057557;
}

button.secondary-button {
  background-color: #ffffff;
  color: #535353;
}

button:hover.secondary-button {
  background-color: #ffffff;
  color: #1f1f1f;
}

button.tertiary-button {
  border: #0d99f6 1px solid;
  background-color: #0d99f6;
  color: #fff;
}

button:hover.tertiary-button {
  border: #0d99f6 1px solid;
  background-color: #086db0;
  color: #fff;
}


button.stop-button {
  border: rgb(200, 2, 61) 1px solid;
  color: rgb(200, 2, 61);
}

button:hover.stop-button {
  background-color: rgb(200, 2, 61);
  color: white;
}